body{
    background-color: rgba(37, 0, 75);
}

.flex{
    display: flex;
}
.yo{
    padding: 50;
    margin: 20;
    background-color: rgb(255, 238, 0);  
}
.bl{
    padding: 50;
    margin: 20;
    background-color: rgb(54, 117, 255);
}
.blue{
    background-color: rgb(54, 117, 255);
    padding: 20px;
}

.purple{
    background-color: rgb(37, 0, 75);
    display: flex;
    justify-content: center;
    padding: 10px;
}
.red{
    
    padding-right: 190px;
}
.der{
    background-color: chocolate;
    padding-bottom: 190px;
}
.yu{
    padding-bottom: 253px;
}
.yi{
    padding-bottom: 115px;
}
.yp{
    padding-bottom: 150px;
}
.yt{
    padding-bottom: 130px;
}
.yr{
    padding-bottom: 170px;
}
