body{
    background-color: rgba(255, 255, 255, 0.842);
}

.flex{
    display: flex;
}
.yo{
    padding: 50;
    margin: 20;
    background-color: rgb(255, 238, 0);
}
.blue{
    background-color: rgb(54, 117, 255);
    padding: 20px;
}

.purple{
    background-color: rgb(12, 0, 24);
    display: flex;
    justify-content: center;
    padding: 10px;
}
.red{
    background-color: rgb(255, 120, 120);
    padding-right: 190px;
}